// colors
$background: #F0EBE1;
$dark: #262522;
$primary-green: #9FDC26;
$primary-orange: #F29C33;
$primary-red: #EE6352;
$primary-light-blue: #C4E5FC;
$light: #FFFBF2;

@mixin subscribe-button {
   width: 122px;
   height: 38px;
   border: none;
   outline: none;
   border-radius: 24px;
   background-color: $dark;
   display: flex;
   align-items: center;
   justify-content: center;
   color: $light;
   text-transform: uppercase;
   font-weight: 500;
   cursor: pointer;
}

:export {
   primaryOrange: $primary-orange;
   dark: $dark;
   background: $background;
   light: $light;
}