@import '/app/styles/variables.module';

.RecipesSection {
   display: flex;
   margin-top: 80px;
   width: 100%;
   flex-direction: column;
   align-items: center;
   margin-bottom: 40px;
}

.RecipesTextWrapper {
   margin-bottom: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.RecipesTextWrapperTag {
   @include tag;
   margin-bottom: 12px;
}

.RecipesTextWrapperHeader {
   color: $dark;
   font-size: 2.5rem;
   font-weight: 700;
   max-width: 426px;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.RecipesTextWrapperParagraph {
   max-width: 426px;
   font-size: 1rem;
   color: $dark;
   font-weight: 300;
   text-align: center;
   line-height: 1.3rem;
}

.RecipesTabWrapper {
   display: flex;
   flex-flow: row wrap;
   gap: 16px;
   align-items: center;
   justify-content: center;
   margin-bottom: 40px;
}

.RecipesCardWrapper {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: start;
}

@media (max-width: 1024px) {
   .RecipesCardWrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }
}

@media (max-width: 768px) {
   .RecipesCardWrapper {
      display: grid;
      grid-template-columns: 1fr;
   }
}