@import 'styles/_variables.module.scss';

.main {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   min-height: 100vh;
   width: 100%;
   background-color: $background;
}

.mainContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 1312px;
   width: calc(100% - 32px);
}

.heroSection {
   display: flex;
   width: 100%;
   height: 577px;
   border-radius: 32px;
   justify-content: center;
   align-items: center;
   background-image: url('/Home/HeroSection/hero-section-background.png');
   margin-bottom: 16px;
}

.heroTextWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   h1 {
      max-width: 880px;
      text-transform: uppercase;
      color: $background;
      font-size: 5rem;
      text-align: center;
      font-weight: 800;
      margin: 0 16px 16px 16px;
   }

   p {
      max-width: 410px;
      color: $background;
      font-size: 1.313rem;
      text-align: center;
      font-weight: 300;
      line-height: 1.6rem;
      margin: 0 16px 40px 16px;
   }

   button {
      @include subscribe-button;
      width: 166px;
      background-color: $primary-orange;
      color: $dark;
      font-size: 0.875rem;
      font-weight: 500;
      text-transform: uppercase;
   }
}

.exploreSection {
   display: flex;
   width: 100%;
   border-radius: 32px;
   justify-content: center;
   align-items: center;
   background-color: $primary-light-blue;
   margin-bottom: 16px;
}

.exploreSectionWrapper {
   padding: 40px;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   flex: 1 1 50%;
   gap: 40px;
}

.exploreFilterText {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 50%;

   h1 {
      max-width: 400px;
      color: $dark;
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 12px;
   }

   p {
      font-size: 1rem;
      color: $dark;
      opacity: 0.8;
      max-width: 494px;
      line-height: 1.2rem;
      font-weight: 300;
      margin-bottom: 40px;
   }

   button {
      @include subscribe-button;
      width: 115px;
      background-color: $primary-light-blue;
      color: $dark;
      border: 1px solid $dark;
   }
}

.exploreFilterTextTag {
   @include tag;
   background-color: $primary-red;
   margin-bottom: 16px;
}

.exploreFilter {
   width: 50%;
}

.exploreFilterTable {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap: 16px;
}

.exploreFilterTableItem {
   height: 72px;
   width: 100%;
   border-bottom: 1px solid rgba($color: $dark, $alpha: 0.16);
   display: flex;
   justify-content: space-between;
   align-items: center;

   p {
      font-size: 1.125rem;
      color: $dark;
      text-transform: uppercase;
      font-weight: 600;
   }
}

.aboutUsSection {
   width: 100%;
   background-color: $background;
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 1313px;
   border: 1px solid rgba($color: $dark, $alpha: 0.24);
   border-radius: 32px;
   margin-bottom: 64px;
}

.aboutUsSectionContainer {
   margin: 16px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   gap: 8px;
   max-width: 1313px;
   width: 100%;
}

.aboutUsRow1 {
   display: flex;
   flex-direction: column;
   gap: 8px;
   max-width: 867px;
   width: 100%;
   margin-left: 8px;
}

.aboutUsRow1Col1 {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.aboutUsRow1Col1Text {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-end;
   margin-left: 40px;
   margin-bottom: 22px;
   margin-right: 22px;
   
   h1 {
      font-size: 2.5rem;
      font-weight: 700;
      color: $dark;
      max-width: 385px;
      text-transform: uppercase;
      margin-top: 8px;
      margin-bottom: 12px;
   }

   p {
      max-width: 385px;
      font-size: 1rem;
      font-weight: 300;
      color: rgba($color: $dark, $alpha: 0.80);
      margin-bottom: 12px;
      line-height: 1.3rem;
   }

   button {
      @include subscribe-button;
      border: 1px solid $dark;
      background-color: $background;
      color: $dark;
      font-size: 0.875rem;
      font-weight: 500;
   }
}

.aboutUsTextTag {
   @include tag;
   width: 83px;
}

.aboutUsRow1Col1ImageBlock {
   position: relative;
   max-width: 100%;
   max-width: 316px;
   height: 326px;
   aspect-ratio: 70/45;
}

.aboutUsRow1Col2 {
   display: flex;
   justify-content: center;
   align-items: center;
}

.aboutUsRow1Col2ImageBlock {
   position: relative;
   max-width: 861px;
   width: 100%;
   max-height: 331px;
   aspect-ratio: 70/45;
   object-fit: cover;
   object-position: top;
}

.aboutUsRow2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.aboutUsRow2Col1 {
   display: flex;
}

.aboutUsRow2ImageBlock {
   position: relative;
   max-width: 411px;
   width: 100%;
   height: 665px;
   aspect-ratio: 40/70;
   object-fit: cover;
   object-position: bottom;
}

@media (max-width: 1333px) {
   .aboutUsRow1 {
      margin: 0;
   }

   .aboutUsRow1Col1, .aboutUsRow1Col2 {
      margin: 0 8px;
   }

   .aboutUsRow2 .aboutUsRow2Col1  {
      width: 100%;
   }
}

@media (max-width: 768px) {
   .exploreSectionWrapper {
      flex-direction: column;
      align-items: flex-start;
      flex: 1 1 100%;
   }

   .exploreFilterText, .exploreFilter {
      width: 100%;
   }

   .exploreFilterText {
      h1 {
         font-size: 1.625rem;
      }

      p {
         font-size: 0.875rem;
      }
   }

   .aboutUsRow1Col1 {
      flex-direction: column;
   }

   .aboutUsRow1Col1Text {
      margin-left: 0;
      margin-top: 32px;

      h1 {
         max-width: 660px;
      }

      p {
         max-width: 740px;
      }
   }
   
   .aboutUsRow2 {
      margin: 0;
   }
}

@media (max-width: 650px) {
   .heroTextWrapper {
      h1 {
         font-size: 2.375rem;
      }

      p {
         font-size: 1rem;
      }
   }
}