@import '/app/styles/variables.module';

.CtaSubscribeSection {
   width: 100%;
   background-color: $background;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.CtaSubscribeSectionContainer {
   max-width: 1313px;
   width: calc(100% - 32px);
   min-height: 486px;
   margin: 0 16px;
   border-radius: 40px;
   background-color: $primary-red;
   margin-bottom: 16px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.CtaSubscribeTextWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 900px;
   margin: 64px 40px 48px 40px;

   h2 {
      font-size: 1.125rem;
      font-weight: 500;
      color: rgba($color: $background, $alpha: 0.80);
      text-transform: uppercase;
      margin-bottom: 12px;
   }

   h1 {
      font-size: 5rem;
      color: $light;
      max-width: 876px;
      font-weight: 800;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 12px;
   }

   p {
      max-width: 648px;
      color: $light;
      font-size: 1.313rem;
      text-align: center;
      line-height: 2rem;
   }
}

.CtaSubscribeInput {
   display: flex;
   max-width: 426px;
   width: calc(100% - 32px);
   justify-content: center;
   align-items: center;
   background-color: $background;
   border-radius: 50px;
   height: 50px;
   padding: 0px 3px 0px 8px;
   margin-bottom: 48px;

   input {
      width: 100%;
      padding: 4px;
      padding-left: 24px;
      flex-grow: 1;
      background-color: transparent;
      outline: none;
      border: none;
      margin-right: 8px;
      font-size: 1.313rem;
   }

   input::placeholder {
      color: rgba($color: $dark, $alpha: 0.4);
      font-size: 1.313rem;
   }
}

.subscribeButton {
   @include subscribe-button;
   height: 38px;
   min-width: 122px;
   font-size: 0.875rem;
   background-color: $dark;
   color: $light;
   text-transform: uppercase;
   margin-right: 4px;
}

@media (max-width: 768px) {
   .CtaSubscribeTextWrapper {
      h2, p {
         font-size: 1rem;
         color: rgba($color: $background, $alpha: 0.80);
         line-height: 1.5rem;
      }
      
      h1 {
         font-size: 2.375rem;
      }
   }
   
   .CtaSubscribeInput {
      margin-bottom: 8px;
      
      input {
         padding: 4px 24px;
      }
   }

   .subscribeButton {
      max-width: 437px;
      width: calc(100% - 24px);
      margin: 0;
      margin-bottom: 48px;
      height: 50px;
   }
}